.App {
  text-align: center;
  width: 100%;
  height: 740px;
  /*background-color: #ebeff3;*/
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #59aed0;
  padding: 10px;
  color: white;
}

.App-header h1 {
  font-size: 36px;
  margin: 10px auto;
  display: inline-block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: inline-block;
  width: 100%;
  height: 600px;
  /*background-color: #ebeff3;*/
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container>.inner {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: inherit;
}

.search-list {
  display: block;
  width: 30%;
  height: 100%;
  box-sizing: inherit;
  padding: 10px 20px;
}

.search-list>.menu {
  position: fixed;
  width: 30px;
  height: 30px;
  font-size: 30px;
  top: 5px;
  color: #fff;
  visibility: hidden;
}

.search-list>.menu:hover {
  cursor: pointer;
  color: #8F8F8F;
}

.close {
  width: 30px;
  height: 30px;
  font-size: 15px;
  margin-top: -4px;
  margin-right: -20px;
  float: right;
  cursor: pointer;
  visibility: hidden;
  font-weight: bold;
}

.close:hover {
  color: #8F8F8F;
  cursor: pointer;
}

.search-area {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 50px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  box-sizing: border-box;
  /*border-bottom: 1px solid #c2c3c7;*/
  /*margin-bottom: 10px;*/
}

.search-input {
  width: 100%;
  border-radius: 8px;
}

.search-btn {
  width: 30%;
  padding: 4px;
  cursor: pointer;
  display: none;
}

.list {
  display: block;
  width: 100%;
  /*height: 85%;*/
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
  box-sizing: inherit;
  border-radius: 5px;
}

.list-ol {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 16px;
}

.list-ol>li {
  line-height: 20px;
  cursor: pointer;
  padding: 10px 10px;
  list-style-type: none;
  white-space: pre-wrap;
  display: flex;
  flex-wrap: nowrap;
}

.list-ol>li:hover {
  background-color: #dcdee6;
  box-shadow: 4px 8px 12px #ebeff3;
}

.list-ol>li>.JPN {
  width: 25%;
  color: #333;
  text-align: left;
}

.list-ol>li>.CHN {
  width: 30%;
  color: #8e9090;
  text-align: left;
  font-size: 12px;
}

.list-ol>li>.EN {
  width: 45%;
  color: #8e9090;
  text-align: left;
  font-size: 12px;
}

.list-ol>li>div {
  /*padding:0 8px;*/
}

.map {
  display: block;
  position: absolute;
  width: 70%;
  height: 93%;
  box-sizing: inherit;
  float: right;
}

.gm-style-iw {
  /*max-height: 150px;*/
  /*max-width: 160px;*/
}

.infowindow {
  max-height: 150px;
  max-width: 120px;
}

.infowindow ul {
  padding: 2px 0;
  list-style: none;
  margin: 0;
  /*max-height: 270px;*/
}

.article {
  text-align: left;
  margin: 2px 0;
}

.article h5 {
  margin: 1px 0;
}

p {
  font-size: 11px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .App-header {
    line-height: 20px;
  }
  .App-header h1 {
    font-size: 24px;
    margin: 8px auto;
  }
  .container {
    height: 600px;
    margin: 0 auto;
    width: 100%;
    padding-left: 0;
  }
  .search-list {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    border-radius: 0 6px 6px 0;
    background-color: #fff;
    left: -200px;
  }
  .search-list>.menu {
    visibility: visible;
    position: fixed;
    width: 30px;
    height: 30px;
    font-size: 30px;
    top: 5px;
    margin-left: 200px;
    color: #fff;
  }
  .close {
    visibility: visible;
  }
  .map {
    width: 100%;
    right: 0;
    height: 100%;
  }
  .list-ol>li>.JPN {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .list-ol>li>.CHN {
    display: none;
  }
  .list-ol>li>.EN {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list-ol>li>.JPN {
    width: 40%;
    font-size: 14px;
    text-align: left;
  }
  .list-ol>li>.CHN {
    width: 60%;
    font-size: 14px;
    text-align: left;
  }
  .list-ol>li>.EN {
    /*width: 70%;*/
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .search-list {
    width: 30%;
  }
  .list-ol>li>.JPN {
    width: 40%;
    font-size: 14px;
    text-align: left;
  }
  .list-ol>li>.CHN {
    display: none;
  }
  .list-ol>li>.EN {
    width: 60%;
    font-size: 14px;
    text-align: left;
  }
  .map {
    width: 75%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
